{% extends "dashboard/base_nav_full.html" %}

{% load get_settings %}

{% block title %}{% settings_value "APP_NAME" %}{% endblock %}

{% block content %}

{{ appcode.IntegrationBadgesUI_css_v1 }}

<h2>{{ thisapp.description }}</h2>

<div class="container">
    <div class="w-100 pt-2 pb-5 row row-cols-lg-3 row-cols-md-2 row-cols-1 collapse show">

<ul>
{% for app in apps %}
    <li><a href="{{ app.path }}" title="{{ app.description }}">{{ app.name }}</a></li>
{% endfor %}
</ul>

    </div>
</div>

{% endblock %}