{% extends "dashboard/base_nav_full.html" %}

{% load get_settings %}

{% block title %}{% settings_value "APP_NAME" %}{% endblock %}

{% block content %}

<link href="https://dashboard.operations.access-ci.org/static/integration-badges-ui-react/assets/index-Csp8KVRA.css" rel="stylesheet"/>
<div class="container">
    <div class="w-100 pt-2 pb-5 row row-cols-lg-3 row-cols-md-2 row-cols-1 collapse show">

        <div class="col p-3">
            <div class="w-100 badge-card p-2 text-center">
                <div class="w-100 p-1 badge-card-header">
                    <div class="w-100 badge-card-header-thumbnail">
                        <div class="w-100 background-image-center-no-repeat badge-icon-small" style="background-image: url(&quot;https://dashboard.operations.access-ci.org/dbfile/files/e4cf8d8b-0ccc-41aa-9081-506475450f6e&quot;);"></div>
                    </div>
                    <h3 class="w-100">Resource Integration Dashboard</h3>
                </div>
                <div class="w-100 badge-card-body">
                    <p class="w-100">Resource Provider Integration Dashboard<br>For existing and new ACCESS production resources.</p>
                </div>
                <div>
                    <a class="btn btn-sm btn-secondary" href="/IntegrationBadgesUI/organizations/" data-discover="true" target="_blank">Go to Integration Dashboard</a>
                </div>
            </div>
        </div>

        <div class="col p-3">
            <div class="w-100 badge-card p-2 text-center">
                <div class="w-100 p-1 badge-card-header">
                    <div class="w-100 badge-card-header-thumbnail">
                        <div class="w-100 background-image-center-no-repeat badge-icon-small" style="background-image: url(&quot;https://dashboard.operations.access-ci.org/dbfile/files/6bdc982b-ccb0-4988-8d4c-5c28565fd5ee&quot;);"></div>
                    </div>
                    <h3 class="w-100">Ops Dashboad Apps</h3>
                </div>
                <div class="w-100 badge-card-body">
                    <p class="w-100"></p>
                </div>
                <div>
                    <a class="btn btn-sm btn-secondary" href="/dashapp" data-discover="true" target="_blank">Go to Applications</a>
                </div>
            </div>
        </div>

        <div class="col p-3">
            <div class="w-100 badge-card p-2 text-center">
                <div class="w-100 p-1 badge-card-header">
                    <div class="w-100 badge-card-header-thumbnail">
                        <div class="w-100 background-image-center-no-repeat badge-icon-small" style="background-image: url(&quot;https://dashboard.operations.access-ci.org/dbfile/files/c5b204f6-bcf1-4b63-af69-16be849781e6&quot;);"></div>
                    </div>
                    <h3 class="w-100">Ops Dashboard Views</h3>
                </div>
                <div class="w-100 badge-card-body">
                    <p class="w-100"></p>
                </div>
                <div>
                    <a class="btn btn-sm btn-secondary" href="/dashview" data-discover="true" target="_blank">Go to Views</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
